{% extends 'base.html.twig' %}

{% block title %}Evaluer{% endblock %}

{% block body %}
    <div class="container">
        <h1>Evaluer</h1>
        <div class="row">
            {{ form(eventEvaluateForm) }}
        </div>
    </div>
{% endblock %}