{% extends 'base.html.twig' %}

{% block title %}Hello EventController!{% endblock %}

{% block body %}
    <div class="container">

    <h1>Participer à</h1>
    <hr>

    {{ form(event_participation_form) }}
    </div>

{% endblock %}