{% extends 'base.html.twig' %}

{% block title %}Event Site{% endblock %}

{% block body %}
    <div class="container">
        <h1>Bienvenue sur le site</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, alias at atque blanditiis cum doloremque ea esse eveniet impedit magni minima odio perferendis quisquam, repellendus repudiandae rerum sint, totam voluptate.</p>
    </div>
{% endblock %}
